@use '../../../../styles/variables' as v;

.Message {
    width: fit-content;
    padding: 20px;
    border-radius: 40px;
    text-align: left;
    font-size: 18px;
    color: white;
    margin: 10px 20px 0 20px;

    &.purple {
        background: v.$purple;
    }

    &.blue {
        background: v.$blue;
    }

    &.orange {
        background: v.$orange;
    }

    &.turquoise {
        background: v.$turquoise;
    }

    &.light-purple {
        background: v.$light-purple;
    }

    &.red {
        background: v.$red;
    }

    &.light-pink {
        background: v.$light-pink;
    }

    &.light-yellow {
        background: v.$light-yellow;
    }

    &.light-gray {
        background: v.$light-gray;
    }

    &.light-green {
        background: v.$light-green;
    }

    &.peach {
        background: v.$peach;
    }

    &.lilach {
        background: v.$lilach;
    }

    &.light-purple {
        background: v.$light-purple;
    }

}