$linear-blue: #FFA05B;
$linear-pink: #EF2CDC;
$linear-orange: #2C3FEF;
$dark-gray :#222326;
$lightest-blue:  #D8DEEA;
$mid-gray: #7C7E84;

$text-color: #222326;

$header-height: 80px;
$add-message-height: 90px;
$chat-width: 350px;
$curr-song-height: 230px;
$main-padding: 40px;

$link-hover-opacity: 0.8;