$linear-blue: #FFA05B;
$linear-pink: #EF2CDC;
$linear-orange: #2C3FEF;
$dark-gray :#222326;
$lightest-blue:  #D8DEEA;
$mid-gray: #7C7E84;

$purple: #8637E7;
$blue: #403EEE;
$orange: #FD8C73;
$turquoise: #10B9D0;
$light-purple: #BA32E1;
$red: #F92464;
$light-pink: #f782c3;
$light-yellow: #f9c46b;
$light-gray: #e3e3e3;
$light-green: #8fad5b;
$peach: #f79582;
$lilach: #8c82b0;
$light-purple: #c8b9fc;


$text-color: #222326;
$progress-bar-bg: #61656C;
$progress-bar-fill: #17E1BD;

$header-height: 80px;
$add-message-height: 90px;
$add-message-input-height: 50px;
$chat-width: 520px;
$curr-song-height: 230px;
$main-padding: 40px;

$link-hover-opacity: 0.8;