@use '../../../styles/variables' as v;

.Menu {
    display: flex;
    font-size: 16px;
    color: white;

    .menuButton {
        margin-left: 12px;
        font-weight:700;
        color: v.$text-color;
        background: white;
        border-radius: 80px;
        padding: 14px 20px;
        
        &:hover {
            cursor: pointer;
            opacity: v.$link-hover-opacity;
        }
    }

    &.horizontal {
        // display: flex;
        // align-items: center;
    }

    &.vertical {
        // position: absolute;
        // left: 0;
        // top: v.$header-height;
        // width: 100%;
        // background: linear-gradient(269.98deg, v.$linear-blue 5.78%, v.$linear-pink 68.74%, v.$linear-orange 102.49%);
        // border-radius: 0 0 20px 0;
        // padding-bottom: 10px;
        // flex-direction: column;

        &.open {
            display: flex;
        }

        &.close {
            display: none;
        }
    }
}