@use '../../styles/variables' as v;

.CurrSong {
    width: 100%;
    height: v.$curr-song-height;
    background: v.$dark-gray;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    .CurrSongContent {
        .PlayerRSWP {
            display: flex;
            flex-direction: column-reverse;

            ._ErrorRSWP {
                border-top: 0px;
                font-size: 24px;
                color: white;
                height: 100%;
            }

            ._ContentRSWP {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                padding: 30px;
                padding-bottom: 20px;
            }

            ._InfoRSWP {
                border-bottom: 0 !important;
                height: 80px;

                img {
                    width: 80px;
                    height: 80px;
                }
            }

            ._ControlsRSWP {
                position: absolute;
                right: 0;
            }
            
            ._SliderRSWP {
                padding: 20px;
            }

            ._ActionsRSWP {
                width: unset;
            }
        }


        .CurrSongImageAndDetails {
            display: flex;
            padding-bottom: 25px;

            .CurrSongImage {
                width: 120px;
                height: 120px;
                background: black;
            }

            .CurrSongDetails {
                padding-left: 20px;
                text-align: left;

                .CurrSongName {
                    font-size: 24px;
                    color: white;
                }

                .CurrSongArtist {
                    padding-top: 15px;
                    font-size: 16px;
                    color: white;
                }

                .CurrSongRating {
                    display: flex;
                    align-items: center;
                    padding-top: 15px;

                    .CurrSongUser {
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        background: black;
                    }

                    .CurrSongAddedBy {
                        padding-left: 15px;
                        font-size: 16px;
                        color: white;
                    }
                }
            }
        }
    }
}