@use '../../styles/variables' as v;

.Playlist {
    display: flex;
    width: 100%;
    height: calc(100% - v.$header-height);

    & > main{
        width: 100%;
        height: 100%;
 
        .CurrSongWrapper {
            padding: v.$main-padding;
        }
       
        .SongsListWrapper {
            padding: 0 v.$main-padding;
            overflow: scroll;
        }
    }

    & > aside {
        border-left: 1px solid v.$lightest-blue;
    }
}