@use '/src/styles/variables' as v;

html, body {
  width: 100%;
  height:  100%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin:  0;
  background-color: white;
  font-family: 'Manrope',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: 400;
  color: v.$text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  aside.responsive {
    position: absolute;
    bottom: 0;
    background: white;
    width: 100%;

    .toggleMessages {
      display: block;
    }

    &.open {
      border-top: 1px solid v.$lightest-blue;
      height: 50%;
      
      .toggleMessages {
        transform: rotate(0deg);
      }
    }

    &.close {
      height: v.$add-message-height;
    }
  }

  .SongsListWrapper {
    height: calc(100% - (v.$curr-song-height + v.$main-padding + v.$main-padding + v.$add-message-height));
  }

  .MenuItems.horizontal,
  .Header .logo {
    display: none !important;
  }

  .hamburger-icon {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  aside.responsive {
      position: absolute;
      bottom: 0;
      background: white;
      width: 100%;

      .toggleMessages {
        display: block;
      }
      
      &.open {
        border-top: 1px solid v.$lightest-blue;
        height: 50%;

        .toggleMessages {
          transform: rotate(0deg);
        }
      }

      &.close {
        height: v.$add-message-height;
      }
  }

  .SongsListWrapper {
    height: calc(100% - (v.$curr-song-height + v.$main-padding + v.$main-padding + v.$add-message-height));
  }

  .MenuItems.horizontal,
  .Header .logo {
    display: none !important;
  }

  .hamburger-icon {
    display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  aside.responsive {
    width:  v.$chat-width;
    height: 100% !important;
    position: unset;
    bottom: unset;
    background: unset;

    .toggleMessages {
      display: none;
      transform: rotate(180deg);
    }
  }

  .SongsListWrapper {
    height: calc(100% - (v.$curr-song-height + v.$main-padding + v.$main-padding));
  }

  .Messages {
    display: block;
  }

  .MenuItems.horizontal,
  .Header .logo {
    display: flex  !important;
  }

  
  .hamburger-icon {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
}